<!--{% load static %}-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../static/css/styles.css" rel="stylesheet">
    <title>Иван Златин</title>
</head>
<body>
    <div class="container">
        <input id="toggle" type="checkbox">
        <label class="toggle-container" for="toggle">
        <span class="button button-toggle"></span>
        </label>

        <nav class="nav">
            <a rel="nofollow" class="nav-item" href="index.html">Главная</a>
            <a rel="nofollow" class="nav-item" href="">Обучение</a>
            <a rel="nofollow" class="nav-item" href="hobby.html">Увлечения</a>
            <a rel="nofollow" class="nav-item" href="links.html">Полезные ссылки</a>
        </nav>
    </div>
    <div class="header-title">
        <h1>Обучение</h1>
    </div>
    <section>
        <div class="row">
            <div class="column-img">
                <img src="../static/images/work.jpg" alt="arbeiten">
            </div>
            <div class="column">
                <div class="text">
                    <p>Я учусь в 11 классе в гимназии №642 "Земля и Вселенная.</p>
                    <p>В 9-10 классах я учился на этой же площадке на курсах Яндекс.Лицея, где и научился программировать. А главное, понял, насколько это прикольно и как сильно мне это нравится!</p>
                    <p>Теперь не могу оторваться от этого даже здесь;)</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>