<!--{% load static %}-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../static/css/styles.css" rel="stylesheet">
    <script src="../static/js/script.js"></script>
    <title>Иван Златин</title>
</head>
<body>
    <div class="container">
        <input id="toggle" type="checkbox">
        <label class="toggle-container" for="toggle">
        <span class="button button-toggle"></span>
        </label>

        <nav class="nav">
            <a rel="nofollow" class="nav-item" href="index.html">Главная</a>
            <a rel="nofollow" class="nav-item" href="education.html">Обучение</a>
            <a rel="nofollow" class="nav-item" href="">Увлечения</a>
            <a rel="nofollow" class="nav-item" href="links.html">Полезные ссылки</a>
        </nav>
    </div>
    <div class="header-title">
        <h1>Мои увлечения</h1>
    </div>
    <section>
        <div class="row">
            <div class="column-hobby">
                <img src="../static/images/hobby1.jpg" alt="guitar">
            </div>
            <div class="column-hobby">
                <img src="../static/images/hobby2.jpg" alt="guitar">
            </div>
            <div class="column-hobby">
                <div class="text">
                    <p>Я обожаю рок и металл, а также играю на гитаре! У нас в классе есть своя рок-группа, с которой мы часто собираемся и репетируем.</p>
                    <p>В общем основное -- это Metallica, Pantera и Guns N' Roses. Совмещаю программирование с музыкой;)</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>