<!--{% load static %}-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../static/css/styles.css" rel="stylesheet">
    <title>Иван Златин</title>
</head>
<body>
    <div class="container">
        <input id="toggle" type="checkbox">
        <label class="toggle-container" for="toggle">
        <span class="button button-toggle"></span>
        </label>

        <nav class="nav">
            <a rel="nofollow" class="nav-item" href="index.html">Главная</a>
            <a rel="nofollow" class="nav-item" href="education.html">Обучение</a>
            <a rel="nofollow" class="nav-item" href="hobby.html">Увлечения</a>
            <a rel="nofollow" class="nav-item" href="">Полезные ссылки</a>
        </nav>
    </div>
    <div class="header-title">
        <h1>Полезные ссылки</h1>
    </div>
    <section>
        <div class="row">
            <div class="column">
                <img class="links" src="../static/images/school3.jpg" alt="school">
            </div>
            <div class="column">
                <ul>
                    <li>
                        Мой профиль на Github:
                        <a href="https://github.com/izlatin">izlatin</a>
                    </li>
                    <li>
                        Мой проект для Института истории СПб при Российской академии наук:
                        <a href="chronicles.website">Летописная база</a><br>
                        Там все может быть далеко не так красиво и элегантно, однако ради того, чтобы все именно так и было, я и хочу поступить в Лицей++ на Django!
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>